**/node_modules
**/dist
**/.git
**/.vscode
**/.github
**/logs
**/tmp

.editorconfig
.gitignore
.prettierignore
.prettierrc
LICENSE
README.md


!apps/
!shared/
!services/
!nx.json
!workspace.json
!vite.config.js
!vite.config.ts
!tsconfig.json
!package.json
!jest.preset.js
!jest.config.ts
!eslint.config.cjs
